
{{> sidebar}}
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{> header}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
           <form class="row g-3 needs-validation" action="/crear_materia/registro" method="post">
          <h5>Carrera y semestre</h5>
          <div class="col-md-8">
          <label>Carrera</label>
          <select class="form-select" id="type" aria-label="Default select example" name="carrera" required>
            <option selected value= "">---Seleccione una carrera---</option>
            <option value="ISC">Ingeniería en Sistemas Computacionales</option>
            <option value="IM">Ingeniería Mecatrónica</option>
            <option value="ISA">Ingeniería en Sistemas Automotrices</option>
            <option value="IIS">Ingeniería en Industrial y de Sistemas</option>
          </select>
          </div>
          <div class="col-md-4">
          <label>Semestre</label>
          <select class="form-select" aria-label="Default select example" name="semestre" required>
            <option selected value="">---Seleccione un semestre---</option>
            <option value=1>Primero</option>
            <option value=2>Segundo</option>
            <option value=3>Tercero</option>
            <option value=4>Cuarto</option>
            <option value=5>Quinto</option>
            <option value=6>Sexto</option>
            <option value=7>Séptimo</option>
            <option value=8>Octavo</option>
          </select>
          </div>
          <hr>
          <h5>Detalles</h5>
          <div class="col-md-6">
            <label>Nombre de la materia</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre de la materia" required>
          </div>
          <div class="col-md-6">
          <label>Docente</label>
          <select class="form-select" aria-label="Default select example" name="docente" required>
            <option selected value= null>---Seleccione un docente---</option>
            {{#each maestro}}
              <option value="{{this.nombre}}" >{{this.nombre}}</option>
            {{/each}}
          </select>
          </div>
          <div class="col-md-6">
          <label>Tipo</label>
          <select class="form-select" aria-label="Default select example" name="tipo" required>
            <option selected value="">---Seleccione un tipo---</option>
            <option value="Ordinario">Ordinario</option>
            <option value="Extraordinario">Extraordinario</option>
            <option value="Recurso">Recurso</option>
            <option value="Revalidación">Revalidación</option>
          </select>
          </div>
          <div class="col-md-6">
            <label>Ciclo</label>
            <input class="form-control" type="text" placeholder="2022S2" name="ciclo" required>
          </div>
          <hr>
          <h5>Duración</h5>
          <div class="col-md-3">
            <label>Fecha de inicio</label>
            <input class="form-control" type="date" name="f_inicio" required>
          </div>
          <div class="col-md-3">
            <label>Fecha de fin</label>
            <input class="form-control" type="date" name="f_final" required>
          </div>
          <div class="col-md-3">
            <label>Hora de inicio</label>
            <input class="form-control" type="time" name="h_inicio" required>
          </div>
          <div class="col-md-3">
            <label>Hora de fin</label>
            <input class="form-control" type="time" name="h_final" required>
          </div>
          <hr>
          <h5>Alumnos</h5>
          <div class="col-md-8" id="alumnos">
            <label>Nombre</label>
            <select class="form-select" id="size" aria-label="Default select example" name="nomAlu" disabled required>
              <option value="">---</option>
            </select>
          </div>
          <div class="col-md-4">
            <br>
            <button type="button" class="btn btn-dark" id="btn-agregar" onclick="cloneSelect()" disabled>Agregar más alumnos</button>
            <button type="button" class="btn btn-danger" id="btn-borrar" disabled>Quitar alumno</button>
          </div>
          <div class="col-12">
            <button class="btn btn-success" type="submit">Crear materia</button>
          </div>
          </form>
        </div>
      </div>
     {{> footer}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
$(document).ready(function () {
    $("#type").change(function () {
        var val = $(this).val();
        if (val == "") {
            $("#size").html("<option>---</option>");
        } else if (val == "ISC") {
            $("#size").html("{{#each aluISC}}<option value='{{this.nombre}}'>{{this.nombre}}</option>{{/each}}");
        } else if (val == "ISA") {
            $("#size").html("{{#each aluISA}}<option value='{{this.nombre}}'>{{this.nombre}}</option>{{/each}}");
        } else if (val == "IIS") {
            $("#size").html("{{#each aluIIS}}<option value='{{this.nombre}}'>{{this.nombre}}</option>{{/each}}");
        } else if (val == "IM") {
            $("#size").html("{{#each aluIM}}<option value='{{this.nombre}}'>{{this.nombre}}</option>{{/each}}");
        }
      $("select").prop('disabled', false);
      $("button").prop('disabled', false);
    });
    $("#size").change(function () {
      $("#type").prop('disabled', true);
    });
});
</script>
<script>
$("#btn-borrar").click(function() {  
  $("#"+(selectionCounter-1)).remove();
  selectionCounter--
});
</script>
<script>
  var selectionCounter = 0
function cloneSelect() {
  var select = document.getElementById("size")
  var clone = select.cloneNode(true)
  var name = select.getAttribute("name") //+ selectionCounter++
  clone.id = selectionCounter++
  clone.setAttribute("name", name)
  document.getElementById("alumnos").appendChild(clone)
}  
</script>



