<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          {{#if coordi}}
           <form class="row g-3 needs-validation" action="/crear_materia/registro" method="post">
          <h5>Carrera y semestre</h5>
          <div class="col-md-8">
          <label>Carrera</label>
          <select class="form-select" required="true" id="type" aria-label="Default select example" name="carrera" >
            <option selected value= "">---Seleccione una carrera---</option>
            <option value="ISC">Ingeniería en Sistemas Computacionales</option>
            <option value="IM">Ingeniería Mecatrónica</option>
            <option value="ISA">Ingeniería en Sistemas Automotrices</option>
            <option value="IIS">Ingeniería en Industrial y de Sistemas</option>
          </select>
          </div>
          <div class="col-md-4">
          <label>Semestre</label>
          <select class="form-select" aria-label="Default select example" name="semestre" required>
            <option selected value="">---Seleccione un semestre---</option>
            <option value=1>Primero</option>
            <option value=2>Segundo</option>
            <option value=3>Tercero</option>
            <option value=4>Cuarto</option>
            <option value=5>Quinto</option>
            <option value=6>Sexto</option>
            <option value=7>Séptimo</option>
            <option value=8>Octavo</option>
          </select>
          </div>
          <hr>
          <h5>Detalles</h5>
          <div class="col-md-6">
            <label>Nombre de la materia</label>
                                              <select  class="form-select" name="nombre" id="nombre">

                                          {{#each planes}}
                                          {{#each this.materias}}
                                    <option value="{{this}}">{{this}} {{../this.carrera}}</option>

            
                                       {{/each}}

                                       {{/each}}
                                                                      </select>

          </div>
          <div class="col-md-6">
          <label>Docente</label>
          <select class="form-select" aria-label="Default select example" name="docente" required>
            <option selected value= null>---Seleccione un docente---</option>
            {{#each maestro}}
              <option value="{{this.nombre}}" >{{this.nombre}}</option>
            {{/each}}
          </select>
          </div>
          <div class="col-md-6">
          <label>Tipo</label>
          <select class="form-select" aria-label="Default select example" name="tipo" required>
            <option selected value="">---Seleccione un tipo---</option>
            <option value="Ordinario">Ordinario</option>
            <option value="Extraordinario">Extraordinario</option>
            <option value="Recurso">Recurso</option>
            <option value="Revalidación">Revalidación</option>
          </select>
          </div>
          <div class="col-md-6">
            <label>Ciclo</label>

                                     <select  class="form-select" name="ciclo" id="ciclo">
                                    <option value="2020S1">2020S1</option>
                                    <option value="2020S2">2020S2</option>
                                    <option value="2021S1">2021S1</option>
                                    <option value="2021S2">2025S2</option>
                                    <option value="2022S1">2022S1</option>
                                    <option value="2022S2">2022S2</option>
                                    <option value="2023S1">2023S1</option>
                                    <option value="2023S2">2023S2</option>
                                    <option value="2024S1">2024S1</option>
                                    <option value="2024S2">2024S2</option>
                                    <option value="Otro">Otro</option>

                                        </select> 

          </div>
          <hr>
          <h5>Duración</h5>
          <div class="col-md-3">
            <label>Fecha de inicio</label>
            <input class="form-control" type="date" name="f_inicio" required>
          </div>
          <div class="col-md-3">
            <label>Fecha de fin</label>
            <input class="form-control" type="date" name="f_final" required>
          </div>
          <div class="col-md-3">
            <label>Hora de inicio</label>
            <input class="form-control" type="time" name="h_inicio" required>
          </div>
          <div class="col-md-3">
            <label>Hora de fin</label>
            <input class="form-control" type="time" name="h_final" required>
          </div>
          <hr>
          <h5>Alumnos</h5>
          <div  id="size">

          </div>
          <div class="col-12">
            <button class="btn btn-success" id="checkBtn" type="submit">Crear materia</button>
          </div>
          </form>
          {{else}}
          Usted no tiene permiso de ver esta página
          {{/if}}
        </div>
      </div>
     {{> footer}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
$(document).ready(function () {
    $("#type").change(function () {
        var val = $(this).val();
        if (val == "") {
            $("#size").html("");
        } else if (val == "ISC") {
            $("#size").html("{{#each aluISC}}<div class='form-check' id='size'><input class='form-check-input' name='nomAlu' type='checkbox' value='{{this.nombre}}' id='flexCheckDefault'> <label class='form-check-label' for='flexCheckDefault'> {{this.nombre}}</label></div>{{/each}}");
        } else if (val == "ISA") {
            $("#size").html("{{#each aluISA}}<div class='form-check' id='size'><input class='form-check-input' name='nomAlu' type='checkbox' value='{{this.nombre}}' id='flexCheckDefault'> <label class='form-check-label' for='flexCheckDefault'> {{this.nombre}}</label></div>{{/each}}");
        } else if (val == "IIS") {
            $("#size").html("{{#each aluIIS}}<div class='form-check' id='size'><input class='form-check-input' name='nomAlu' type='checkbox' value='{{this.nombre}}' id='flexCheckDefault'> <label class='form-check-label' for='flexCheckDefault'> {{this.nombre}}</label></div>{{/each}}");
        } else if (val == "IM") {
            $("#size").html("{{#each aluIM}}<div class='form-check' id='size'><input class='form-check-input' name='nomAlu' type='checkbox' value='{{this.nombre}}' id='flexCheckDefault'> <label class='form-check-label' for='flexCheckDefault'> {{this.nombre}}</label></div>{{/each}}");
        }
      $("select").prop('disabled', false);
      $("button").prop('disabled', false);
    });
});
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('#checkBtn').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        alert("Seleccione al menos un alumno.");
        return false;
      }

    });
});

</script>



