<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <form action="/editar_calificaciones/subir" method="post">
        
            <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Materia: {{this.nombre}} <input class="form-control form-control-sm" value="{{this.nombre}}" hidden name="materia"></li>
                <li>Profesor:  {{this.docente}}</li>
                <li>Periodo: {{this.fecha_inicio}} - {{this.fecha_fin}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Horario: {{hora_inicio}} - {{hora_fin}}</li>
                <li>Ciclo: {{this.ciclo}} <input class="form-control form-control-sm" value="{{this.ciclo}}" hidden name="ciclo"></li>
                <li>Carrera: {{this.carrera}} <input class="form-control form-control-sm" value="{{this.tipo}}" hidden name="tipo"></li>
                {{/each}}
              </ul>
            </div>
          </div>
          <table class="table table-striped">
              <thead>
    <tr>
      {{!-- <th scope="col">Matrícula</th> --}}
      <th scope="col">Nombre</th>
      <th scope="col">Retardos</th>
      <th scope="col">Inasistencias</th>
      <th scope="col">CALIFICACIÓN</th>
    </tr>
  </thead>
  <tbody>
    {{#each datos}}
      {{#with this}}
        {{#each alumnos}}
          <tr>
            {{!-- <th scope="row">{{matricula}}</th> --}}
            <td><input type="text" class="form-control" name="nombre" placeholder="0" hidden value="{{nombre}}"  required>{{nombre}}</td>
            <td><input type="number" class="form-control" name="retardos" placeholder="0"value={{retardos}} max="80" min="0" required></td>
            <td><input type="number" class="form-control" name="inasistencias" placeholder="0" value={{inasistencias}} max="80" min="0"  required></td>
            <td><input type="number" class="form-control" name="calificacion" placeholder="10/100" value={{calificacion}} max="100" min="10"  required></td>
          </tr>
        {{/each}}
    {{/with}}
    {{/each}}
    
  </tbody>

          </table>
        </div>
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
      </div>
          </form>
        </div>
      </div>
     {{> footer}}
    </div>
