<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            
       <div class="card pt-3 pb-3 pe-0 ps-0 border border-3 border-success position-relative col-sm-14" >
<div class="container ms-0 me-0  ">
  <div class="row">
    <div class="col">
        
            <div class="card border border-2 border-success  col-sm-12">
  <div class="card-body">
    <div class="d-flex flex-column">
     
  <div style="font-size: 15px;" class="p-1 fw-bold">Docente: {{docente}}</div>

  <div style="font-size: 15px;" class="p-1 fw-bold">Materia: {{materia}}</div>

  <div style="font-size: 15px;" class="p-1 fw-bold">Tipo: {{tipo}}</div>

  <div style="font-size: 15px;" class="p-1  fw-bold">Ciclo: {{ciclo}}</div>

      
  </div>
  
</div>


  </div>
    </div>
    
  
    <div class="col text-end">
<img src="/img/logo-ual.png" class="   col-4 " alt="...">
    </div>
  </div>
</div>

</div>

       </div>








<br>

         <div class="card  mb-2  border border-3 p-4 border-success" >
 <div class="container ">
      <div class="row">
        <div class="col">
              <div class="card  mb-2  border border-2 border-success col-sm-12">
  <div class="card-body  p-1">
    <div class="d-flex flex-column">
  <h5 class="p-1 text-center fw-bold">1</h5>
  <div  style="font-size: 15px;" class="p-1 ms-3 me-3 text-center fw-bold">Muy De Acuerdo</div>
</div>
  </div>
</div>
      
        </div>
        <div class="col">

                 <div class="card  mb-2  border border-2 border-success col-sm-12">
  <div class="card-body p-1">
    <div class="d-flex flex-column">
  <h5 class="p-1 text-center fw-bold">2</h5>
  <div  style="font-size: 15px;" class="p-1 ms-5 me-5  text-center fw-bold">De Acuerdo </div>
</div>
  </div>
</div>
            
            </div>
        <div class="col">
          <div class="card  mb-2  border border-2 border-success col-sm-12">
  <div class="card-body  p-1">
    <div class="d-flex flex-column">
  <h5 class="p-1 text-center fw-bold">3</h5>
  <div  style="font-size: 15px;" class=" p-1 ms-4 me-4  text-center fw-bold">En Desacuerdo</div>
</div>
  </div>
</div>
            
            </div>
        <div class="col">
             <div class="card  mb-2  border border-2 border-success col-sm-12">
  <div class="card-body  p-1">
    <div class="d-flex flex-column">
  <h5 class="p-1 text-center fw-bold">4</h5>
  <div  style="font-size: 15px;" class="p-1 ms-3 me-3  ms-0 text-center fw-bold">Muy Desacuerdo</div>
</div>
  </div>
</div>
            
            </div>  
      </div>
    </div>
    <br>
    <div class="p-1 text-center fw-bold">Evaluacion De Desempeño Del Docente</div>
     <br>
    <div class="container  ms-0 ps-0">
<div class="container mb-2">
    <div class="row">
         <div class="col-auto"></div>
        <div class="col-sm-8"></div>
        
       <div  class=" ms-2 col-md-3">
         <div class="row col-auto"> 
          <div class="col-3"><strong > 1</strong></div>
        <div class="col-3"><strong > 2</strong></div>
        <div class="col-3"><strong > 3</strong></div>
        <div class="col-3"><strong > 4</strong></div>
    </div>
         </div>
   
      

    </div>
</div>
<div class="container ms-0 ps-0">
      <form action="/encuesta2/resultados" method="POST" enctype="multipart/form-data">
       
           <input type="hidden" class="form-control" placeholder="Docente"
    id="docente" name="docente" value="{{docente}}">
     <input type="hidden" class="form-control" placeholder="Docente"
    id="materia" name="materia" value="{{materia}}">
     <input type="hidden" class="form-control" placeholder="Docente"
    id="tipo" name="tipo" value="{{tipo}}">
     <input type="hidden" class="form-control" placeholder="Docente"
    id="ciclo" name="ciclo" value="{{ciclo}}">
<div class="container  mb-2">
    
    <div class="row">

        <div class="col-auto"></div>
        <div class="  col-sm-8 rounded border border-2 border-success mb-2 " > <strong> 1.</strong> Consideras que el docente domina la materia para la comprensión de los contenidos</div>
       
<div  class=" ms-3 col-md-3">
    <div class="row col-auto">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor1" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor1" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor1" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor1" value="4"></div>
    </div>
</div>

    </div>
</div>

<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2 "> <strong> 2.</strong>  Promovió la realización de actividades académicas</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor2" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor2" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor2" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor2" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8  rounded border border-2 border-success mb-2 "><strong> 3.</strong>  Relacionó los temas de su clase con otras materias que son antecedentes y además con otras materias del mismo semestre y el aprendizaje se complementó</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor3" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor3" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor3" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor3" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2 "><strong> 4.</strong> Durante el curso el profesor revisó las tareas o trabajos escolares y te dio retroalimentación sobre tu desempeño</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor4" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor4" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor4" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor4" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2 "><strong> 5.</strong> En clase se emplearon recursos y medios educativos para un mejor logro del aprendizaje</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor5" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor5" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor5" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor5" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8  rounded border border-2 border-success mb-2"><strong> 6.</strong> El maestro estuvo orientando tu aprendizaje durante todo el curso</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor6" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor6" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor6" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor6" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8  rounded border border-2 border-success mb-2 "><strong> 7.</strong> Se explicó la forma de evaluación del curso al incio del mismo</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor7" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor7" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor7" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor7" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2"><strong> 8.</strong> Se tomaron en consideración las actitudes para la evaluación final</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor8" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor8" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor8" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor8" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2"><strong> 9.</strong> Promovió aprendizajes del curso para la vida laboral o cotidiana</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor9" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor9" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor9" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor9" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2"><strong> 10.</strong> Mejoraste el nivel de tu aprendizaje de la asignatura en este curso</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3">
    <div class="row">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor10" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor10" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor10" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor10" value="4"></div>
    </div>
</div>
    </div>
</div>
<div class="container mb-2">
    <div class="row">

        <div class="col-auto"></div>
        <div class="col-sm-8   rounded border border-2 border-success mb-2"><strong> 11.</strong> Promovió un buen ejempo con su presentación personal, así como la puntualidad y la asistencia las clases</div>
        <div class="d-md-none col-8"></div>
<div  class=" ms-3 col-md-3 ">
    <div class="row ">
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor11" value="1"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor11" value="2"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor11" value="3"></div>
    <div class="col-3"><input type="radio"style="list-style:none;" name="valor11" value="4"></div>
    </div>
</div>

    </div>
</div>
<br>
<label class="form-label p-1  fw-bold">Comentarios</label>
 <textarea id="body" name="body" class="form-control border border-2 border-success"  rows="3"></textarea>
<br>

                            <div class="form-group position-relative">
                            <button type="submit" class="btn  btn-success col-12 col-form-label"
                            id="sendMessageButton"><strong > Enviar encuesta</strong></button>
                            </div>

</div>
  </form>



         </div>   
       </div>   
   



<script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
{{> footer}}