<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{> header}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">

              {{#each materias}}
          <div class="col-sm-6 col-lg-3">
              <div class="card" style="width: 16rem;">
                {{!-- <img src="/img/IIS-Portal.jpg" class="card-img-top" alt="..."> --}}
                <div class="card-body">
                  <h5 class="card-title">{{this.nombre}}</h5>
                  <p class="card-text">
                    <ul class="people_list">
                      <li>Docente: {{this.docente}}</li>
                      <li>Periodo: {{this.ciclo}}</li>
                      <li>Tipo: {{this.tipo}}</li>
                    </ul>
                  </p>
                  {{#if alumno}}
                  aluih
                  {{else}}
                  <a  {{#if sent}} class="btn btn-secondary disabled" {{else}} class="btn btn-success" href="/subir_calificaciones?materia={{this.nombre}}&ciclo={{this.ciclo}}&tipo={{this.tipo}}"{{/if}}>Subir</a>
                  <a {{#if sent}} href="/editar_calificaciones?materia={{this.nombre}}&ciclo={{this.ciclo}}&tipo={{this.tipo}}" class="btn btn-success"{{else}} class="btn btn-secondary disabled"{{/if}} >Editar</a>
                  {{/if}}
                  <a href="/ver_calificaciones?materia={{this.nombre}}&ciclo={{this.ciclo}}&tipo={{this.tipo}}" class="btn btn-success">Ver</a>
                </div>
              </div>
            </div>
            {{/each}}
            <!-- /.col-->

          </div>
              

        </div>
      </div>
     {{> footer}}
    </div>
