<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Materia: {{this.nombre}}</li>
                <li>Profesor: {{this.docente}}</li>
                <li>Periodo: {{this.fecha_inicio}} - {{this.fecha_fin}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Horario: {{hora_inicio}} - {{hora_fin}}</li>
                <li>Ciclo: {{this.ciclo}}</li>
                <li>Carrera: {{this.carrera}} {{this.semestre}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <table class="table table-striped">
              <thead>
    <tr>
      {{!-- <th scope="col">Matrícula</th> --}}
      <th scope="col">Pregunta</th>
      <th scope="col">Muy desacuerdo</th>
      <th scope="col">Algo en desacuerdo</th>
      <th scope="col">Algo de acuerdo</th>
      <th scope="col">Muy de acuerdo</th>
      <th scope="col">Promedio</th>
    </tr>
  </thead>
  <tbody>

          <tr class="table">
            <th scope="row">Consideras que el docente domina la materia para la comprensión de los contenidos.</th>
            {{!-- Nota: todos los valores deben llevar valor1, valor2 (el número depende del númeor de la pregunta) al final, y hay que ponerles los if, porque si no no muestra el cero --}}
            <td>{{#if pregunta1.uno.valor1}}{{pregunta1.uno.valor1}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta1.dos.valor1}}{{pregunta1.dos.valor1}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta1.tres.valor1}}{{pregunta1.tres.valor1}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta1.cuatro.valor1}}{{pregunta1.cuatro.valor1}}{{else}}0{{/if}}</td>
            <td>{{pregunta1.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Promovió la realización de actividades académicas (tareas, ejercicios, exposiciones, discuciones, etc.)</th>
            <td>{{#if pregunta2.uno.valor2}}{{pregunta2.uno.valor2}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta2.dos.valor2}}{{pregunta2.dos.valor2}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta2.tres.valor2}}{{pregunta2.tres.valor2}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta2.cuatro.valor2}}{{pregunta2.cuatro.valor2}}{{else}}0{{/if}}</td>
            <td>{{pregunta2.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Relacionó los temas de su clase con otras materias que son antecedentes y además con otras materias del mismo semestre y el aprendizaje se complementó.</th>
            <td>{{#if pregunta3.uno.valor3}}{{pregunta3.uno.valor3}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta3.dos.valor3}}{{pregunta3.dos.valor3}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta3.tres.valor3}}{{pregunta3.tres.valor3}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta3.cuatro.valor3}}{{pregunta3.cuatro.valor3}}{{else}}0{{/if}}</td>
            <td>{{pregunta3.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Durante el curso el profesor revisó las tareas o trabajos escolares y te dio retroalimentación sobre tu desempeño.</th>
            <td>{{#if pregunta4.uno.valor4}}{{pregunta4.uno.valor4}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta4.dos.valor4}}{{pregunta4.dos.valor4}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta4.tres.valor4}}{{pregunta4.tres.valor4}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta4.cuatro.valor4}}{{pregunta4.cuatro.valor4}}{{else}}0{{/if}}</td>
            <td>{{pregunta4.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">En clase se emplearon recursos y medios educativos para un mejor logro del aprendizaje.</th>
            <td>{{#if pregunta5.uno.valor5}}{{pregunta5.uno.valor5}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta5.dos.valor5}}{{pregunta5.dos.valor5}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta5.tres.valor5}}{{pregunta5.tres.valor5}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta5.cuatro.valor5}}{{pregunta5.cuatro.valor5}}{{else}}0{{/if}}</td>
            <td>{{pregunta5.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">El maestro estuvo orientando tu aprendizaje durante todo el curso.</th>
            <td>{{#if pregunta6.uno.valor6}}{{pregunta6.uno.valor6}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta6.dos.valor6}}{{pregunta6.dos.valor6}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta6.tres.valor6}}{{pregunta6.tres.valor6}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta6.cuatro.valor6}}{{pregunta6.cuatro.valor6}}{{else}}0{{/if}}</td>
            <td>{{pregunta6.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Se explicó la forma de evaluación del curso al inicio del mismo.</th>
            <td>{{#if pregunta7.uno.valor7}}{{pregunta7.uno.valor7}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta7.dos.valor7}}{{pregunta7.dos.valor7}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta7.tres.valor7}}{{pregunta7.tres.valor7}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta7.cuatro.valor7}}{{pregunta7.cuatro.valor7}}{{else}}0{{/if}}</td>
            <td>{{pregunta7.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Se tomaron en consideración las actitudes (responsabilidad, colaboración, respeto, etc.) para la evaluación final.</th>
            <td>{{#if pregunta8.uno.valor8}}{{pregunta8.uno.valor8}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta8.dos.valor8}}{{pregunta8.dos.valor8}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta8.tres.valor8}}{{pregunta8.tres.valor8}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta8.cuatro.valor8}}{{pregunta8.cuatro.valor8}}{{else}}0{{/if}}</td>
            <td>{{pregunta8.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Promovió aprendizajes del curso para la vida laboral o cotidiana.</th>
            <td>{{#if pregunta9.uno.valor9}}{{pregunta9.uno.valor9}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta9.dos.valor9}}{{pregunta9.dos.valor9}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta9.tres.valor9}}{{pregunta9.tres.valor9}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta9.cuatro.valor9}}{{pregunta9.cuatro.valor9}}{{else}}0{{/if}}</td>
            <td>{{pregunta9.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Mejoraste el nivel de tu aprendizaje de la asignatura en este curso.</th>
            <td>{{#if pregunta10.uno.valor10}}{{pregunta10.uno.valor10}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta10.dos.valor10}}{{pregunta10.dos.valor10}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta10.tres.valor10}}{{pregunta10.tres.valor10}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta10.cuatro.valor10}}{{pregunta10.cuatro.valor10}}{{else}}0{{/if}}</td>
            <td>{{pregunta10.promedio.x}}/4</td>
          </tr>
          <tr class="table">
            <th scope="row">Promovió un buen ejemplo con su presentación personal, asi como la putualidad y la asistencia a las clases.</th>
            <td>{{#if pregunta11.uno.valor11}}{{pregunta11.uno.valor11}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta11.dos.valor11}}{{pregunta11.dos.valor11}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta11.tres.valor11}}{{pregunta11.tres.valor11}}{{else}}0{{/if}}</td>
            <td>{{#if pregunta11.cuatro.valor11}}{{pregunta11.cuatro.valor11}}{{else}}0{{/if}}</td>
            <td>{{pregunta11.promedio.x}}/4</td>
          </tr>
          
    {{#each encuesta}}
    {{#with this}}
    {{/with}}
    {{/each}}
    
  </tbody>

          </table>
            <div class"col-sm-6 col-lg-6">
    <h5>Comentarios adicionales:</h5>
    {{#each comentarios}}
    <li>
    {{this.body}}
    </li>
    {{/each}}
  </div>
  <div class"col-sm-6 col-lg-6">
    <h5>Alumnos que faltan de contestar:</h5>
    {{#each datos}}
    {{#each this.falta_encuesta}}
    <li>
    {{this}}
    </li>
    {{/each}}
    {{/each}}
    <br>
    <button class="form-control" onclick="window.print();return false;">Imprimir</button>
  </div>
        </div>
      </div>
     {{> footer}}
    </div>