<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Materia: {{this.nombre}}</li>
                <li>Profesor: {{this.docente}}</li>
                <li>Periodo: {{this.fecha_inicio}} - {{this.fecha_fin}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="col-sm-6 col-lg-6">
              <ul>
                {{#each datos}}
                <li>Horario: {{hora_inicio}} - {{hora_fin}}</li>
                <li>Ciclo: {{this.ciclo}}</li>
                <li>Carrera: {{this.carrera}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          <table class="table table-striped">
              <thead>
    <tr>
      {{!-- <th scope="col">Matrícula</th> --}}
      <th scope="col">Nombre</th>
      <th scope="col">Retardos</th>
      <th scope="col">Inasistencias</th>
      <th scope="col">CALIFICACIÓN</th>
    </tr>
  </thead>
  <tbody>


    {{#if alumno}}
    {{#if falta}}
    {{#if sent}}


      </tbody>

          </table>
    <b>POR FAVOR CONTESTE LA EVALUACIÓN DE MAESTROS PARA VER SU CALIFICACIÓN</b>
    <br>
    {{#each datos}}
                      <a href="/encuesta3?materia={{this.nombre}}&ciclo={{this.ciclo}}&tipo={{this.tipo}}&docente={{this.docente}}" class="btn btn-success" >Contestar encuesta</a>
    {{/each}}
    {{else}}
    </tbody>

          </table>
    <b>NO SE HAN ENVIADO CALIFICACIONES PARA ESTA MATERIA</b>
    <br>
    {{/if}}
    {{else}}
      <tr {{#if datosAlu.reprobado}}class="table-danger"{{/if}}>
            {{!-- <th scope="row">{{matricula}}</th> --}}
            <td>{{datosAlu.nombre}}</td>
            <td>{{datosAlu.retardos}}</td>
            <td>{{datosAlu.inasistencias}}</td>
            <td>{{datosAlu.calificacion}}/100</td>
          </tr>
          {{/if}}
    {{else}}
      {{#each datos}}
        {{#with this}}
          {{#each alumnos}}
            <tr {{#if reprobado}}class="table-danger"{{/if}}>
              {{!-- <th scope="row">{{matricula}}</th> --}}
              <td>{{nombre}}</td>
              <td>{{retardos}}</td>
              <td>{{inasistencias}}</td>
              <td>{{calificacion}}/100</td>
            </tr>
          {{/each}}
      {{/with}}
      {{/each}}
    {{/if}}
    
  </tbody>

          </table>
          {{#unless alumno}}
            <div class"col-sm-6 col-lg-6">
    <h5>Comentarios adicionales:</h5>
    {{#each datos}}
    {{this.comentarios}}
    {{/each}}
  </div>
  {{/unless}}
        </div>
      </div>
     {{> footer}}
    </div>
