
{{> sidebar}}
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{> header}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          {{#if coordi}}
          <div class="row">
          </div>
          <table class="table table-striped">
              <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Carrera</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each datos}}
      {{#with this}}
          <tr>
            <td>{{nombre}}</td>
            <td>{{carrera}}</td>
            <td>
              <form method="post" action="/ver_alumnos/deshabilitar">
              <input name="alumno" value="{{nombre}}" hidden>
              <a class="btn btn-warning" href="/editar_alumnos?matricula={{matricula}}">Editar</a>
                <button class="btn btn-danger">Dar de baja</button>
              </form>
            </td>
          </tr>
    {{/with}}
    {{/each}}
    
  </tbody>

          </table>
          {{else}}
          Usted no tiene permiso de ver esta página
          {{/if}}
        </div>
      </div>
     {{> footer}}
    </div>
