<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{#if coordi}}
  {{> header_coordi}}
  {{else}}
      {{> header}}
      {{/if}}
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          {{#if coordi}}
          <table class="table table-striped">
              <thead>
    <tr>
      {{!-- <th scope="col">Correo</th> --}}
      <th scope="col">Nombre</th>
      <th scope="col">Materias</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each datos}}
      {{#with this}}
          <tr>
            {{!-- <th scope="row">{{username}}</th> --}}
            <td data-toggle="tooltip" data-placement="right" title="{{username}}">{{nombre}}</td>
            <td><a href="/materias?docente={{nombre}}">Ver</a></td>
            <td>
              {{#if active}}
              <form method="post" action="/ver_maestros/deshabilitar">
              <input name="docente" value="{{username}}" hidden>
                <a class="btn btn-warning" href="/editar_maestro?username={{username}}&nombre={{nombre}}">Editar</a>              
                <button class="btn btn-danger">Deshabilitar</button>
              </form>
              {{else}}
              <form method="post" action="/ver_maestros/habilitar">
              <input name="docente" value="{{username}}" hidden>              
                <button class="btn btn-success">Habilitar</button>
              </form>
              {{/if}}
            </td>
          </tr>
      {{/with}}
    {{/each}}

  </tbody>

          </table>
          {{else}}
          Usted no tiene permiso para ver esta página
          {{/if}}
        </div>
      </div>
     {{> footer}}
    </div>
